<app-background></app-background>
<app-background id="second"></app-background>
<app-background id="third"></app-background>
<app-background id="fourth"></app-background>

<nav>
  <h2 (click)="scrollTo('education')">Education</h2>
  <h2 (click)="scrollTo('work')">Work</h2>
  <h2 (click)="scrollTo('socials')">Socials</h2>
</nav>
<div class="nameDiv">
  <img class="myphoto" src="assets/egypt.jpg" alt="" />
  <div class="h1div">
    <h1 class="firstH1">
      Hello, My name is <span class="fullname">Tornike Vakhtangidze</span>
    </h1>
    <h1 class="secondH1">But you can call me <span class="name">Toko</span></h1>
  </div>
</div>
<div class="education" id="education">
  <h1>Education</h1>
  <div>
    <h2>2018-2022</h2>
    <h2>Tbilisi State University</h2>
    <h2>Computer Science</h2>
  </div>
  <div>
    <h2>2023</h2>
    <h2>It Academy Step</h2>
    <h2>Front end Angular course</h2>
  </div>
</div>
<div class="work" id="work">
  <h1>Work</h1>
  <div>
    <a target="_blank" href="https://mywinery.netlify.app/">
      <img class="screenshot" src="assets/winery_screenshot.png" alt="" />
    </a>
    <h3>
      
    </h3>
  </div>
  <div>
    <a target="_blank" href="https://fakeshoop.netlify.app/">
      <img class="screenshot" src="assets/redesign_screenshot.png" alt="" />
    </a>
  </div>
  <div>
    <a target="_blank" href="https://cryptotodaytokko.netlify.app/">
      <img class="screenshot" src="assets/crypto_screenshot.png" alt="" />
    </a>
  </div>
  <div>
    <a target="_blank" href="https://eleqtrikosi.com/">
      <img class="screenshot" src="assets/electric_screenshot.png" alt="" />
    </a>
  </div>
</div>

<div class="socials" id="socials">
  <a target="_blank" href="https://github.com/toko09"
    ><i class="fa-brands fa-github"></i>Github</a
  >
  <a title="tornikevakhtangidze@gmail.com" target="_blank" href="mailto:tornikevakhtangidze@gmail.com"
    ><i class="fa-solid fa-envelope"></i>Mail</a
  >
  <a target="_blank" href="https://www.instagram.com/tokk09/"
    ><i class="fa-brands fa-instagram"></i>Instagram</a
  >
  <a target="_blank" href="https://www.facebook.com/tornike.vakhtangidze/"
    ><i class="fa-brands fa-facebook"></i>Facebook</a
  >
  <a target="_blank" href="www.linkedin.com/in/tornike-vakhtangidze-24b807265"
    ><i class="fa-brands fa-linkedin"></i>Linkedin</a
  >
</div>
